MYADMIN_HOST=127.0.0.1
MYADMIN_PORT=8080
MYADMIN_DATA_DIR=
MYADMIN_SERVER_HOST=
MYADMIN_SERVER_PORT=
MYADMIN_SESSION_IDLE_TIMEOUT_MINUTES=
MYADMIN_SESSION_ABSOLUTE_TIMEOUT_HOURS=
MYADMIN_PROVIDER_IDLE_TIMEOUT_MINUTES=
MYADMIN_SECURITY_SECURE_COOKIES=
MYADMIN_LOG_LEVEL=
MYADMIN_LIMITS_UPLOAD_MAX_BYTES=
MYADMIN_LIMITS_RESULT_MAX_ROWS=
MYADMIN_HISTORY_MAX_ENTRIES_PER_USER=
MYADMIN_TOOLS_PG_DUMP_PATH=
MYADMIN_TOOLS_PG_RESTORE_PATH=
MYADMIN_TOOLS_PSQL_PATH=
MYADMIN_TOOLS_MYSQLDUMP_PATH=
MYADMIN_TOOLS_MYSQL_PATH=
